@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@700&display=swap');

html::-webkit-scrollbar {
    width: 13px;
}

html::-webkit-scrollbar-button {
    display: none;
}

html::-webkit-scrollbar-thumb {
    min-height: 16px;
    background-color: #999999;
    background-clip: padding-box;
    border: 3px solid #fdfdfd;
    border-radius: 5px;
}

body {
    color: #333;
    font-family: 'Noto Serif SC', serif;
    font-size: 16px;
    width: 100%;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

p {
    font-variant-ligatures: common-ligatures discretionary-ligatures;
    line-height: 1.9em;
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
}

a, a:hover {
    color: #24292e;
    text-decoration: none
}

.main {
    max-width: 660px;
    overflow: hidden;
    margin: 60px auto 30px auto;
    padding: 50px;
    background: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(236, 236, 236, 0.86);
    border-radius: 8px;
}

.header {
    width: 660px;
    padding: 0px 0px 100px 0px;
    margin: 0 auto;
    -webkit-background-size: cover;
    background-size: cover;
}



.header .site_title_container .site_title {
    width: 100px;
    float: left;
}

.header .site_title_container .description {
    font-size: 14px;
    color: #424242;
    float: right;
}

.footer {
    clear: both;
    max-width: 780px;
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
}

.footer a {
    color: #A6A6A6;
    margin: 0px 6px;
}

.footer a:hover {
    color: #1F1F1F;
}

.footer .icp {
    margin: 0;
    padding-top: 10px;
    font-size: 11px;
}

.footer .icp a {
    color: #cccccc;
    margin: 0px 2px;
}

.footer .icp a:hover {
    color: #1F1F1F;
}

.footer .gongan {
    margin: 0;
    padding-top: 10px;
    font-size: 11px;
}

.footer .gongan a {
    color: #cccccc;
    margin: 0px 2px;
}

.footer .gongan a:hover {
    color: #1F1F1F;
}

.footer .footer_slogan {
    padding-top: 25px;
    padding-bottom: 10px;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}

.p-break {
    border-top: 4px solid #222;
    max-width: 5em;
    width: 5em;
    height: 4px;
}

.img {
    max-width: 100%;
    border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    vertical-align: middle
    
}

.icon {
    width: 3em;
    height: 3em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}