body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
    margin-bottom: 15px
}

img {
    max-width: 100%;
    border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    vertical-align: middle
    
}

figure>img {
    display: block
}

figcaption {
    font-size: 14px
}

ul,
ol {
    margin-left: 30px
}

li>ul,
li>ol {
    margin-bottom: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300
}

a {
    color: #2a7ae2;
    text-decoration: none
}

a:visited {
    color: #1756a9
}

a:hover {
    color: #111;
    text-decoration: underline
}

blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic
}

blockquote>:last-child {
    margin-bottom: 0
}

pre,
code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #3a3a3a;
    color: #EEEEEE
}

pre,
code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #3a3a3a;
    color: #EEEEEE
}

code {
    padding: 1px 5px
}

pre {
    padding: 8px 12px;
    overflow-x: scroll
}

pre>code {
    border: 0;
    padding-right: 0;
    padding-left: 0
}

.wrapper {
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(800px - (30px));
        max-width: calc(800px - (30px));
        padding-right: 15px;
        padding-left: 15px
    }
}

.wrapper:after,
.footer-col-wrapper:after {
    content: "";
    display: table;
    clear: both
}

.icon>svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.icon>svg path {
    fill: #828282
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: lightgrey;
    border-style: double;
    border-width: 1px;
    font-size: 14px;
    margin-bottom: 25px
}

td,
th {
    display: table-cell;
    vertical-align: inherit;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px
}

thead {
    border-bottom-style: solid;
    border-bottom-width: 1px
}

tr:nth-of-type(even) {
    height: 36px;
    background-color: #F6F6F6
}

tr:nth-of-type(odd) {
    height: 36px;
    background-color: #FEFEFE
}

.site-header {
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
    min-height: 56px;
    position: relative
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left
}

.site-title,
.site-title:visited {
    color: #424242
}

.sub-site-title {
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-size: 16px;
    margin-left: 20px
}

.sub-site-title,
.sub-site-title:visited {
    color: #dd2727
}

.tmall {
    font-weight: 600
}

.site-nav {
    float: right;
    line-height: 56px
}

.site-nav .menu-icon {
    display: none
}

.site-nav .page-link {
    color: #111;
    line-height: 1.5
}

.site-nav .page-link:not(:first-child) {
    margin-left: 20px
}

@media screen and (max-width: 600px) {
    .site-nav {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: #fdfdfd;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: right
    }
    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center
    }
    .site-nav .menu-icon>svg {
        width: 18px;
        height: 15px
    }
    .site-nav .menu-icon>svg path {
        fill: #424242
    }
    .site-nav .trigger {
        clear: both;
        display: none
    }
    .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px
    }
    .site-nav .page-link {
        display: block;
        padding: 5px 10px
    }
}

.site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 0
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 15px
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0
}

.footer-col-wrapper {
    font-size: 15px;
    color: #828282;
    margin-left: -15px
}

.footer-col {
    float: left;
    margin-bottom: 15px;
    padding-left: 15px
}

.footer-col-1 {
    width: -webkit-calc(35% - (30px / 2));
    width: calc(35% - (30px / 2))
}

.footer-col-2 {
    width: -webkit-calc(20% - (30px / 2));
    width: calc(20% - (30px / 2))
}

.footer-col-3 {
    width: -webkit-calc(45% - (30px / 2));
    width: calc(45% - (30px / 2))
}

@media screen and (max-width: 800px) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (30px / 2));
        width: calc(50% - (30px / 2))
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2))
    }
}

@media screen and (max-width: 600px) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2))
    }
}

.page-content {
    padding: 30px 0
}

.page-heading {
    font-size: 20px
}

.post-list {
    margin-left: 0;
    list-style: none
}

.post-list>li {
    margin-bottom: 30px
}

.post-meta {
    font-size: 14px;
    color: #828282
}

.post-link {
    display: block;
    font-size: 24px
}

.post-header {
    margin-bottom: 30px
}

.post-title {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1
}

@media screen and (max-width: 800px) {
    .post-title {
        font-size: 30px
    }
}

.post-content {
    margin-bottom: 30px
}

.post-content h2 {
    font-size: 26px
}

@media screen and (max-width: 800px) {
    .post-content h2 {
        font-size: 28px
    }
}

.post-content h3 {
    font-size: 22px
}

@media screen and (max-width: 800px) {
    .post-content h3 {
        font-size: 22px
    }
}

.post-content h4 {
    font-size: 18px
}

@media screen and (max-width: 800px) {
    .post-content h4 {
        font-size: 16px
    }
}

.hll {
    background-color: #404040
}

.c {
    color: #999999;
    font-style: italic
}

.err {
    color: #a61717;
    background-color: #e3d2d2
}

.esc {
    color: #d0d0d0
}

.g {
    color: #d0d0d0
}

.k {
    color: #6ab825;
    font-weight: bold
}

.l {
    color: #d0d0d0
}

.n {
    color: #d0d0d0
}

.o {
    color: #d0d0d0
}

.x {
    color: #d0d0d0
}

.p {
    color: #d0d0d0
}

.cm {
    color: #999999;
    font-style: italic
}

.cp {
    color: #cd2828;
    font-weight: bold
}

.c1 {
    color: #999999;
    font-style: italic
}

.cs {
    color: #e50808;
    font-weight: bold;
    background-color: #520000
}

.gd {
    color: #d22323
}

.ge {
    color: #d0d0d0;
    font-style: italic
}

.gr {
    color: #d22323
}

.gh {
    color: #ffffff;
    font-weight: bold
}

.gi {
    color: #589819
}

.go {
    color: #ccc
}

.gp {
    color: #aaa
}

.gs {
    color: #d0d0d0;
    font-weight: bold
}

.gu {
    color: #ffffff;
    text-decoration: underline
}

.gt {
    color: #d22323
}

.kc {
    color: #6ab825;
    font-weight: bold
}

.kd {
    color: #6ab825;
    font-weight: bold
}

.kn {
    color: #6ab825;
    font-weight: bold
}

.kp {
    color: #6ab825
}

.kr {
    color: #6ab825;
    font-weight: bold
}

.kt {
    color: #6ab825;
    font-weight: bold
}

.ld {
    color: #d0d0d0
}

.m {
    color: #3677a9
}

.s {
    color: #ed9d13
}

.na {
    color: #bbb
}

.nb {
    color: #24909d
}

.nc {
    color: #447fcf;
    text-decoration: underline
}

.no {
    color: #40ffff
}

.nd {
    color: orange
}

.ni {
    color: #d0d0d0
}

.ne {
    color: #bbb
}

.nf {
    color: #447fcf
}

.nl {
    color: #d0d0d0
}

.nn {
    color: #447fcf;
    text-decoration: underline
}

.nx {
    color: #d0d0d0
}

.py {
    color: #d0d0d0
}

.nt {
    color: #6ab825;
    font-weight: bold
}

.nv {
    color: #40ffff
}

.ow {
    color: #6ab825;
    font-weight: bold
}

.w {
    color: #666
}

.mb {
    color: #3677a9
}

.mf {
    color: #3677a9
}

.mh {
    color: #3677a9
}

.mi {
    color: #3677a9
}

.mo {
    color: #3677a9
}

.sb {
    color: #ed9d13
}

.sc {
    color: #ed9d13
}

.sd {
    color: #ed9d13
}

.s2 {
    color: #ed9d13
}

.se {
    color: #ed9d13
}

.sh {
    color: #ed9d13
}

.si {
    color: #ed9d13
}

.sx {
    color: orange
}

.sr {
    color: #ed9d13
}

.s1 {
    color: #ed9d13
}

.ss {
    color: #ed9d13
}

.bp {
    color: #24909d
}

.vc {
    color: #40ffff
}

.vg {
    color: #40ffff
}

.vi {
    color: #40ffff
}

.il {
    color: #3677a9
}
